@page "/Account/Manage/WalletsAndData"
@inherits WalletsAndDataBase

<StatusMessage />

<div class="row">
    <div class="col-md-6">
        <BaseDefinitionEditor Definitions="@_wallets" Title="Wallets" OnNewDefinition="OnNewWallet"/>
        <BaseDefinitionEditor Definitions="@_categories" Title="Categories" OnNewDefinition="OnNewCategory"/>
    </div>

    <div class="col-md-6">
        <BaseDefinitionEditor Definitions="@_labels" Title="Labels" OnNewDefinition="OnNewLabel"/>
    </div>
</div>