@page "/Account/Manage/WalletsAndData"

@using Microsoft.AspNetCore.Identity
@using ExpensesTracker.Data
@using ExpensesTracker.Server.Services
@using ExpensesTracker.Common.EntityModel.Sqlite

@inject IdentityUserAccessor UserAccessor
@inject IWalletController WalletController

<StatusMessage />

<div class="row">
    <div class="col-md-6">
        <BaseDefinitionEditor Definitions="@_wallets" Title="Wallets" OnNewDefinition="OnNewWallet"/>
        <BaseDefinitionEditor Definitions="@_categories" Title="Categories" OnNewDefinition="OnNewCategory"/>
    </div>

    <div class="col-md-6">
        <BaseDefinitionEditor Definitions="@_labels" Title="Labels" OnNewDefinition="OnNewLabel"/>
    </div>
</div>

@code {
    [CascadingParameter] private HttpContext _httpContext { get; set; } = default!;

    private IEnumerable<Wallet> _wallets;
    private IEnumerable<Category> _categories;
    private IEnumerable<Label> _labels;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(_httpContext);
        var ownerId = user.Id;
        
        _wallets = (await WalletController.GetWallets(ownerId)).OrderBy(w => w.Name);
        _categories = (await WalletController.GetCategories(ownerId)).OrderBy(c => c.Name);
        _labels = (await WalletController.GetLabels(ownerId)).OrderBy(l => l.Name);
    }
    
    private async void OnNewLabel(string newLabelName)
    {
        var user = await UserAccessor.GetRequiredUserAsync(_httpContext);

        Label label = new Label() { Name = newLabelName, OwnerId = user.Id };
        var restul = await WalletController.AddNewLabel(label);
        _labels = _labels.Append(restul).OrderBy(l => l.Name);

        StateHasChanged();
    }

    private async void OnNewWallet(string newWalletName)
    {
        var user = await UserAccessor.GetRequiredUserAsync(_httpContext);

        Wallet wallet = new() { Name = newWalletName, OwnerId = user.Id };
        var restul = await WalletController.AddNewWallet(wallet);
        _wallets = _wallets.Append(restul).OrderBy(l => l.Name);

        StateHasChanged();
    }

    private async void OnNewCategory(string newCategoryName)
    {
        var user = await UserAccessor.GetRequiredUserAsync(_httpContext);

        Category category = new() { Name = newCategoryName, OwnerId = user.Id };
        var restul = await WalletController.AddNewCategory(category);
        _categories = _categories.Append(restul).OrderBy(l => l.Name);

        StateHasChanged();
    }
}