<div id="walletCard_@WalletId" class="card text-white mb-3" style="max-width: 18rem; cursor: pointer; border-color: @ColorCode;">
    <button @onclick="OnWalletSelected" style="border: none; background: @ColorCode">
        <div class="card-header">W: @WalletName</div>
        <div class="card-body">
            <h5 class="card-title">Total Amount: @TotalAmount</h5>
            @* <p class="card-text"> *@
            @*     Some quick example text to build on the card title and make up the bulk of the *@
            @*     card's content. *@
            @* </p> *@
        </div>
    </button>
</div>