<div class="row" style="background: @WalletState.CurrentWallet.ColorCode">
    <h1 class="col">@WalletState.CurrentWallet.WalletName</h1>
    <NavLink class="col" href="wallets">Wallets</NavLink>
    <NavLink class="col" href="categories">Categories</NavLink>
    <NavLink class="col" href="labels">Labels</NavLink>
    <div class="col">
        <button class="btn btn-primary">New Entry</button>
    </div>
    <div class="col">
        <button class="btn btn-primary">Edit</button>
    </div>
</div>