@model ExpensesTracker.Models.WalletsListViewModel
@{
}

<div class="container">
    <component type="typeof(WalletNavBar)" render-mode="ServerPrerendered"/>
    <div class="row">
        @foreach (var wallet in Model.Wallets)
        {
            <div class="col">
                <div id="walletCard_@wallet.WalletId" class="card text-white bg-primary mb-3" style="max-width: 18rem; cursor: pointer">
                    <a asp-controller="Wallet" asp-action="Expenses" asp-route-walletId="@wallet.WalletId" style="text-decoration: none; color: inherit;">
                        <div class="card-header">W: @wallet.WalletName</div>
                        <div class="card-body">
                            <h5 class="card-title">Total Amount: @wallet.TotalAmount</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>