@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="https://localhost:7033/scalar/v1" target="_blank">Scalar</a>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}