@using ExpensesTracker.Common.EntityModel.Sqlite
@using System.ComponentModel

@if (Definitions != null)
{
    <MudSimpleTable Dense="true" Hover="true" Style="overflow-x: auto;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <MudTextField @bind-Value="NewName" Label="@Title" Variant="Variant.Text"></MudTextField>
            </th>
            <th>
                <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="delete" OnClick="@(()=>OnSubmit())"></MudIconButton>
            </th>
        </tr>
       
        @foreach (var def in Definitions)
        {
            <tr>
                <th>@def.Name</th>
                <th>
                    <button class="btn btn-info">
                        <i class="fluent--pen-20-filled"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ooui--trash"></i>
                    </button>
                </th>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}

@code {
    [Parameter] public IEnumerable<BaseDefinition> Definitions { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public Action<string>? OnNewDefinition { get; set; }
    protected string NewName;

    private void OnSubmit()
    {
        OnNewDefinition?.Invoke(NewName);
        NewName = string.Empty;
    }
}

