@page "/wallet/{WalletId}"
@using ExpensesTracker.Blazor.Client.Components
@using ExpensesTracker.Blazor.Client.Layout
@layout WalletLayout
@rendermode InteractiveServer

<PageTitle>Wallet: @_currentWalletState.CurrentWallet.WalletName</PageTitle>

<div class="row">
    <table class="table">
        <thead>
        <tr style="text-align: center">
            <th class="w-20" scope="col">Date</th>
            <th class="w-20" scope="col">Amount</th>
            <th class="w-20" scope="col">Category</th>
            <th class="w-20" scope="col">Label</th>
            <th class="w-20" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @if(_currentWalletState.CurrentWallet.HasData)
        {
            foreach (var entry in _currentWalletState.CurrentWallet.Entries)
            {
                <WalletTEntry Data="@entry"/>
            }
        }

        </tbody>
    </table>
</div>
