@layout ExpensesTracker.Blazor.Client.Layout.MainLayout
@using ExpensesTracker.Blazor.Client.Components
@inherits MainLayout

<div>
        <WalletNavBar/>
</div>

<div class="content">
        @Body
</div>
