@layout ExpensesTracker.Blazor.Client.Layout.MainLayout
@using ExpensesTracker.Blazor.Client.Components
@inherits MainLayout

<div>
        <WalletNavBar OnShowNewEntryCallback="OnNewEntry"/>
</div>

<DialogComponent Title="Test" IsOpen="_showModal">
</DialogComponent>

<div class="content">
        @Body
</div>

@code
{
        private bool _showModal = false;
        private void OnNewEntry()
        {
                _showModal = true;
        }
}
